#color-picker-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* width: 100vw; */
  height: 50vh;
  width: calc(100% - 20px);
  max-width: 760px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #ffffff;
}

#color-picker-container input[type="color"] {
  position: absolute;
  margin-top: 50px;
  height: 40px;
}