/* Sidebar CSS */


.sidebar {

  /* position: absolute; */
  /* top: 25px;
  left: 25px; */
  padding: 25px;
  border-radius: 10px;
  margin: 10px auto;
  width: calc(100% - 20px);
  max-width: 760px;
  background: rgba(245, 245, 245, 0.5);
}

.layout {
  width: 100vw;
}

ul {
  list-style: none;
}