.card {
  border-radius: 4px;
  box-shadow: 1px 4px 12px rgba(250, 250, 250, 0.9);
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  width: fit-content;
  margin: auto;
}

.button-container button {
  width: 60px;
  height: 60px;
  font-size: 3em;
  padding: 0;
}

.player {
  font-size: 2em;

}

.reset-button {
  font-size: 1.6em;
}